body {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  color: whitesmoke;
}

#bgwaves {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.header {
  margin: 30px;
}

.logo img {
  width: 400px;
  top: 20px;
  left: 10px;
  position: fixed;
  display: block;
  z-index: 5;
}

.topnav {
  background-color: none;
  overflow: hidden;
  text-align: right;
  width: 100%;
  float: right;
}

.topnav a {
  display: inline;
  color: whitesmoke;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.topnav a:hover {
  color: rgb(169, 231, 119);
}

.topnav a.active {
  text-decoration: underline 2px;
}

@media screen and (max-width: 600px) {
  .topnav {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 20px;
  }

  .logo img {
    max-width: 70%;
    margin: auto;
    position: relative;
    display: block;
    top: 0;
    left: 0;
  }
}

.column {
  position: relative;
  top: 0px;
  width: 100%;
  display: block;
}

a {
  color: whitesmoke;
}

a:hover {
  color: rgb(169, 231, 119);
}

.column {
  width: 30.33%;
  float: left;
  padding: 1.5%;
  display: block;
}

.column img {
  width: 100%;
  margin-bottom: 7%;
}

.gallery {
  position: relative;
  margin: auto;
  width: 98%;
  top: 50px;
}
